<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="./images/favicon.png" sizes="16x16" type="image/png">
<style>
	html, body {
	    font-family: 'AppleSDGothicNeo-Light', "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 16px;
	    font-weight: normal;
	    color: #606c71;
	}

	h1, h2, h3 {
	    font-family: 'AppleSDGothicNeo-Thin'; 
	    font-weight: 100;
	    font-size: 1.2em;
	    line-height: 1;
	    color: #999;
	}

</style>
</head>
<body>
	<div class="div-document">
		{{ content }}
	</div>
</body>
</html>